#about {
  .app__wrapper {
    .copyright {
      display: none;
    }
  }
}

.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-left: 2rem;
  @media screen and (max-width: 800px) {
    margin-left: 0rem;
  }
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0 2rem 0;
  flex-wrap: wrap;
  padding: 2rem 1rem 0 1rem;

  img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin: 0rem 2rem 1rem 2rem;
    border-radius: 50%;
    box-shadow: 0 0px 30px 0 rgba(255, 255, 255, 0.3);
  }

  .bio-text {
    width: 42%;
    h4 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5rem;
      color: var(--white-color);
      font-weight: 300;
    }

    @media screen and (max-width: 800px) {
      margin-top: 2rem;
      text-align: center;
      width: 100%;
    }
  }
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  background-color: var(--white-color);
  box-shadow: 0 0px 30px 0 rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
  }

  h2,
  p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  @media screen and (min-width: 2000px) {
    height: 370px;
    width: 280px;

    img {
      height: 240px;
    }
  }
}
